@import "../compass/css3"

// font-family: 'Open Sans', sans-serif
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic)

$bg_color: #f4f4f4
$mtr_color: #fbfbfb
$btn_color: #ff6e35
$lght_color: #fff

.page
	background: $bg_color

.s1-icons-and-contacts
	background: $lght_color
	position: relative
	min-height: 77px
	+box-shadow: (rgba(0,0,0,.3) 0px 2px 0px)
