.catalog-item
	.catalog-item__pics-wrap
		.catalog-item__bigpic
			img.catalog-item__bigpic-file(src='../img/tel_1.png', alt='Samsung')
		.catalog-item__smlpics
			.catalog-item__smlpic.active
				img.catalog-item__smlpic-file(src='../img/tel_1.png', alt='Samsung')
			.catalog-item__smlpic
				img.catalog-item__smlpic-file(src='../img/tel_2.png', alt='Samsung')
			.catalog-item__smlpic
				img.catalog-item__smlpic-file(src='../img/tel_3.png', alt='Samsung')
		.catalog-item__articul.hidden
			span.gray-text Артикул
			span.catalog-item__articul-text 189654
	.catalog-item__header-and-desct-wrap
		.catalog-item__header Samsung GT-I9301I GALAXY S3
		.catalog-item__description
			.catalog-item__text-descr.hidden Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей. Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей.
			.catalog-item__descr-item-wrap
				.catalog-item__descr-item.catalog-item__sim
					span.catalog-item__descr-text.left Тип SIM-карты
					span.catalog-item__descr-text.right Micro-SIM
				.catalog-item__descr-item.catalog-item__simqut
					span.catalog-item__descr-text.left Количество SIM-карт
					span.catalog-item__descr-text.right 1
				.catalog-item__descr-item.catalog-item__color
					span.catalog-item__descr-text.left Цвет
					span.catalog-item__descr-text.right Белый
				.catalog-item__descr-item.catalog-item__os
					span.catalog-item__descr-text.left ОС
					span.catalog-item__descr-text.right Android
				.catalog-item__descr-item.catalog-item__3g
					span.catalog-item__descr-text.left Связь 3G
					span.catalog-item__descr-text.right Есть
				.catalog-item__descr-item.catalog-item__4g
					span.catalog-item__descr-text.left 4G (LTE)
					span.catalog-item__descr-text.right Нет
				.catalog-item__descr-item.catalog-item__gps
					span.catalog-item__descr-text.left GPS-модуль
					span.catalog-item__descr-text.right Есть
		.catalog-item__rating
			.catalog-item__rating-stars.left
				.catalog-item__rating-star.red-star
				.catalog-item__rating-star.red-star
				.catalog-item__rating-star.red-star
				.catalog-item__rating-star.red-star
				.catalog-item__rating-star.light-star
			.catalog-item__rating-digit.right 
				span 4
	.catalog-item__price-and-buy-wrap
		.catalog-item__price
			span.catalog-item__price-text 11 290
			span.rub
		.catalog-item__buy
			input.to-bucket.right(type='button', value='В корзину')
			.good-presents.left В наличии