header.header
	.s1-icons-and-contacts
		.s1-icons-and-contacts-fixed-wide-wrap
			.s1-icons-and-contacts-fixed-wide
				ul.social-icons
					li.social-icons__icon.icon-fb
						a(href='#').inverse-socials__link
					li.social-icons__icon.icon-vk
						a(href='#').inverse-socials__link
					li.social-icons__icon.icon-tw
						a(href='#').inverse-socials__link
				.adress-phone-wrap
					.adress ул. Маяковская 6, офис 17
					.phone +7 (921) 123-12-13
	.s2-logo-and-search
		.s2-logo-and-search-fixed-wide
			img.logo(src='/img/cooltech.png')
			form.search-form
				input.search-form__text(type='text', placeholder='Что будем искать')
				input.search-form__submit(type='submit', value='Найти')
			ul.site-links
				li.site-links__item
					a.site-links__link(href='#') Карта проезда
				li.site-links__item
					a.site-links__link(href='#') История заказов
				li.site-links__item
					a.site-links__link(href='#') Корзина
	nav.s-nav
		.s-nav-fixed-wide
			ul.nav-menu
				li.nav-menu__item
					a.nav-menu__link(href='#') Планшеты
				li.nav-menu__item
					a.nav-menu__link.active-link(href='#') Мобильные телефоны
				li.nav-menu__item
					a.nav-menu__link(href='#') Mp3 плееры
				li.nav-menu__item
					a.nav-menu__link(href='#') Персональные компьютеры
				li.nav-menu__item
					a.nav-menu__link(href='#') Ноутбуки
				li.nav-menu__item
					a.nav-menu__link(href='#') Аксессуары
				li.nav-menu__item
					a.nav-menu__link(href='#') Бытовая техника
	.s-bread-crumbs
		.bread-crumbs
			a.bread-crumbs__link(href='#') Главная
			span  > 
			a.bread-crumbs__link(href='#') Каталог
	.s-page-header
		.page-header Мобильные телефоны