.s-impot-info-fixed-wide
	.impot-info-header Важная информация
	.impot-info-wrap
		.impot-info-col-left
			p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
			p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.
			p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
		.impot-info-col-right
			p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
			p Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития.
.footer
	.footer-fixed-wide
		.footer-content-wrap
			.footer-content-left-col
				img.logo-white(src='../img/cooltech-white.png', alt='Logo Cooltech')
			.footer-content-right-col
				.inverse-socials
					.inverse-socials__item.item-vk
						a.inverse-socials__link(href='#')
					.inverse-socials__item.item-fb
						a.inverse-socials__link(href='#')
					.inverse-socials__item.item-tw
						a.inverse-socials__link(href='#')
				.nav-links-bottom
					a.nav-links-bottom__link(href='#') 
						span.nowrap Планшеты
					a.nav-links-bottom__link(href='#') 
						span.nowrap Мобильные телефоны
					a.nav-links-bottom__link(href='#') 
						span.nowrap Mp3 плееры
					a.nav-links-bottom__link(href='#') 
						span.nowrap Персональные компьютеры
					a.nav-links-bottom__link(href='#') 
						span.nowrap Ноутбуки
					a.nav-links-bottom__link(href='#') 
						span.nowrap Аксессуары
					a.nav-links-bottom__link(href='#') 
						span.nowrap Бытовая техника
		.copyright All rights reserved. 2015. no copy alowed
