.left-menu-wrap
	.tel-type
		ul
			li.tel-type__item Флагманы
			li.tel-type__item Бюджетная линейка

	.left-menu
		ul.filter-list
			li.filter-item
				input.filter-input.hidden#ac-1(name='accordion-1', type='checkbox')
				label.filter-title.left-menu__shops(for='ac-1') Наличие в магазинах
				.filter-content
					ul.inner-list
						li.inner-item
							label.radio-label
								input.radio-input(type='radio', name='shops', id='all-shops')
								.filter__choose-elem
								.filter__choose-text Во всех магазинах
						li.inner-item
							label.radio-label
								input.radio-input(type='radio', name='shops', id='closest-shop')
								.filter__choose-elem
								.filter__choose-text В ближайшем ко мне магазине
			li.filter-item
				input.filter-input.hidden#ac-2(name='accordion-1', type='checkbox')
				label.filter-title.left-menu__brands(for='ac-2') Бренды
				.filter-content
					ul.inner-list
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='brands', id='lenovo')
								.filter__choose-elem-checkbox
								.filter__choose-text Lenovo
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='brands', id='apple')
								.filter__choose-elem-checkbox
								.filter__choose-text Apple
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='brands', id='samsung')
								.filter__choose-elem-checkbox
								.filter__choose-text Samsung
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='brands', id='asus')
								.filter__choose-elem-checkbox
								.filter__choose-text Asus
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='brands', id='motorola')
								.filter__choose-elem-checkbox
								.filter__choose-text Motorola
					.clear-checkbox 
						a.clear-checkbox-link(href='#') Сбросить фильтр
			li.filter-item
				input.filter-input.hidden#ac-3(name='accordion-1', type='checkbox')
				label.filter-title.left-menu__price(for='ac-3') Цена
				.filter-content
					.range-slider
						.range-slider__wrap-fields
							.range-slider__wrap-elem
								span.left
									span.range-slider__text от
									input.range-slider__input.range-slider__input-start(type='text', value='0')
								span.right
									span.range-slider__text до
									input.range-slider__input.range-slider__input-end(type='text', value='25000')
							#slider-range
			li.filter-item
				input.filter-input.hidden#ac-4(name='accordion-1', type='checkbox')
				label.filter-title.left-menu__color(for='ac-4') Цвет
				.filter-content
					.color-box-cont
						.color-box.white
						.color-box.gray
						.color-box.black
						.color-box.blue
						.color-box.red
						.color-box.yellow
						.color-box.orange
						.color-box.green
						.color-box.cloud
						.color-box.violet
						.color-box.purple
						.color-box.brown
			li.filter-item
				input.filter-input.hidden#ac-5(name='accordion-1', type='checkbox')
				label.filter-title.left-menu__os(for='ac-5') Операционные системы
				.filter-content
					ul.inner-list
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='os', id='android')
								.filter__choose-elem-checkbox
								.filter__choose-text Android
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='os', id='iOS')
								.filter__choose-elem-checkbox
								.filter__choose-text iOS
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='os', id='windowsmob')
								.filter__choose-elem-checkbox
								.filter__choose-text Windows Mobile
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='os', id='symbian')
								.filter__choose-elem-checkbox
								.filter__choose-text Symbian
						li.inner-item
							label.checkbox-label
								input.checkbox-input(type='checkbox', name='os', id='custom')
								.filter__choose-elem-checkbox
								.filter__choose-text Custom
					.clear-checkbox 
						a.clear-checkbox-link(href='#') Сбросить фильтр
